body {
    background-image: linear-gradient(to right, rgb(236, 173, 173), rgb(234, 234, 166) );
}

pre {
    border: 2px solid rgb(227, 15, 103);
    width: 350px;
    height: 250px;
    margin-bottom: 30px;
    margin-left: 40%;
    color:rgb(227, 15, 103);
    box-shadow: 4px 4px black;
    
    
    
    
}
li {
    font-size: 30px;
    margin-left: 20px;
   
}

#links {
    font-size: 30px;
}

a {
    color: black
}

h1 {
    text-align: center;
}