
body {
    background-color: bisque;
}

.menu1 {
    align-items: center;
    margin-left: 80%;
    border-radius: 20px;
    background-color: #73AD21;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 350px;
    height: 10px;
    
}   
.menu {
    color:black;
    margin-left: 20px;
    

}
.menu:hover {
    color: black
}
p {
    text-align: right;




}

h1 {
    text-align: center;
    

}

.second {
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 1.5
}

.column {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    margin: 20px;
    background-color: aliceblue;
    
    

}

.column div {
    background-color: burlywood;
    margin: 20px;
    padding: 20px
}
@media (max-width: 600px) {
    .column {
        flex-direction: column;
    }
}
.third {
    text-align: center;
}

.source {

    text-align: left;
    margin-left: 40px
}

a {
    font-size: larger;
    margin-left: 40px;
    color:brown;
    
    

}

a:hover {
    color: aqua;
}