body {

    background-color: beige;

}

h1 {
    text-align: center;
    font-size: 110px;





}
p {

    text-align: center;
    gap: 20px
}
a {
    color: black;
    margin: 30px;
    font-size: 30px;
}
td, th {

    padding: 8px;
    text-align: left;
    border: 1px solid rgb(0, 0, 0)
   
    
    


}

th {

    background-color: black;
    color: white


}

table {
    margin-left: 30%;
    margin-top: 10%;
}